@import "~react-toolbox/lib/colors";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;

html, body {
  margin: 0; padding: 0;
  font-weight: 300;
  font-size: 62.5%;
}

body {
  font-family: Roboto,sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
